AWSTemplateFormatVersion: '2010-09-09'
Description: Create Dynamodb table

Resources:
  DynamoDbTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: books
      SSESpecification:
        SSEEnabled: true
      PointInTimeRecoverySpecification:
        PointInTimeRecoveryEnabled: true
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: "id"
          AttributeType: "S"
      KeySchema:
        - AttributeName: "id"
          KeyType: "HASH"
      StreamSpecification:
        StreamViewType: NEW_IMAGE

Outputs:
  DynamoDbName:
    Description: DynamoDb Name
    Value: !Ref DynamoDbTable